<h2>HELLO</h2>

<p>I&#39;m still</p>

<h2>THE</h2>

<h2>Nicole Z Liu</h2>

<p>this web page (my personal website, ya prob found me on linkedin or instagram, depends on what typa ~~stalker~~ you are) is temporarily taken down cuz now i have a job at
<strong>almighty</strong>
<a href="https://doordash.engineering/">Doordash ENGINEERINGGGG</a></p>

<p>I get to make my personal website all woozy and nerdy and cool, basically, not perfessional, i mean professional at all.</p>

<p>so <strong>nicole website 2.0</strong> is on the way!</p>

<blockquote><p>but if ur my boss and u saw this, please pretend u know nothing.</p></blockquote>
